# This is Jeopardy!

#### Overview

This project is distinct from typical tutorials as it presents a series of flexible requirements rather than a step-by-step guide. The project encourages creative problem-solving and resourcefulness, leveraging various online platforms, including Codecademy and GitHub, to address challenges encountered during development.

#### Project Goals

The project goal is to work and write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [1]:
import pandas as pd
import random as random
pd.set_option('display.max_colwidth', None)
jeopardy = pd.read_csv('jeopardy.csv')
print(jeopardy.head())
jeopardy = jeopardy.rename(columns={' Show Number': 'Show Number', ' Air Date': 'Air Date', ' Round': 'Round', ' Category': 'Category', ' Value': 'Value', ' Question': 'Question', ' Answer': 'Answer'})

   Show Number    Air Date      Round                         Category  Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY   $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES   $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...   $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE   $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES   $200

                                                                                                      Question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       Answer
0  Copernicus
1  Jim Thorpe
2     Arizona
3  McDonald's
4  John Adams

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [2]:
def data_filter(data, words):
    my_lambda = lambda question: all(word.lower() in question.lower() for word in words)
    filtered = data.loc[data['Question'].apply(my_lambda)]
    return filtered
print(data_filter(jeopardy, ['trousers']))

        Show Number    Air Date             Round  \
3248           5084  2006-10-19         Jeopardy!
3710           4398  2003-10-22         Jeopardy!
8124           4724  2005-03-03         Jeopardy!
14091          5110  2006-11-24         Jeopardy!
16369          4344  2003-06-19         Jeopardy!
27304          5887  2010-03-30  Double Jeopardy!
29997          3724  2000-11-09  Double Jeopardy!
32174          5568  2008-11-19         Jeopardy!
41203          1886  1992-11-16  Double Jeopardy!
50224          1285  1990-03-16         Jeopardy!
55863          3286  1998-12-14         Jeopardy!
58561           446  1986-05-26  Double Jeopardy!
68279          4585  2004-07-09         Jeopardy!
74954          6283  2012-01-04  Double Jeopardy!
96889          3667  2000-07-11  Double Jeopardy!
100566         5414  2008-03-06  Double Jeopardy!
108327         6083  2011-02-09         Jeopardy!
112736         3638  2000-05-31   Final Jeopardy!
115081         3652  2000-06-20         Jeopardy!
117059         4341  2003-06-16         Jeopardy!
140591         4547  2004-05-18  Double Jeopardy!
146483         3455  1999-09-17  Double Jeopardy!
164397         5870  2010-03-05         Jeopardy!
167821         4316  2003-05-12         Jeopardy!
177684         3125  1998-03-13         Jeopardy!
180093         5248  2007-06-06  Double Jeopardy!
180147         5749  2009-09-17  Double Jeopardy!
189230         4368  2003-09-10  Double Jeopardy!
189236         4368  2003-09-10  Double Jeopardy!
190131         4211  2002-12-16  Double Jeopardy!
209177         4785  2005-05-27         Jeopardy!

                                   Category     Value  \
3248                          AT THE MOVIES     $1000
3710                PRESIDENTIAL RHYME TIME      $200
8124                               FEMINISM      $200
14091             OSCAR WINNERS' RHYME TIME      $600
16369                         WHAT TO WEAR?      $800
27304                      HISTORIC FASHION      $800
29997                 A PASSION FOR FASHION      $600
32174                          PIONEER LIFE      $400
41203                       FASHION HISTORY      $600
50224                            RHYME TIME      $300
55863                          MADE OF CLAY      $500
58561                               FASHION      $200
68279                   THE QUEEN'S ENGLISH      $800
74954                               "G-P-S"      $800
96889                          '50s FASHION      $600
100566                        "PAN"HANDLING     $1200
108327             WHAT'S IN YOUR "C"LOSET?      $400
112736                             CLOTHING  no value
115081              PRESIDENTIAL RHYME TIME      $200
117059                        ANNUAL EVENTS      $400
140591                HARLEQUIN & COLUMBINE     $2000
146483                        '70s FASHIONS      $800
164397             WHAT AM I GOING TO WEAR?     $1000
167821                            LIMERICKS      $200
177684                       HORSING AROUND      $300
180093                               "Z" ME     $1600
180147                          "E" TIMES 3     $1600
189230                      WORLDWIDE PANTS     $1200
189236                      WORLDWIDE PANTS     $1600
190131                              FASHION     $1600
209177  QUOTES FROM THE BATTLE OF THE SEXES      $200

                                                                                                                                                                                                Question  \
3248                                                                                                                                                 2005: A group of teenage chicks share some trousers
3710                                                                                                                                                                                   Ulysses' trousers
8124                                                                                            Elizabeth Cady Stanton's cousin Elizabeth Smith Miller first wore these trousers named for another woman
14091                                                                                                                                                                               Nicholson's trousers
16369                                                                                      TV once had a special "room" for this 1-piece child's outfit with short, loose trousers gathered at the knees
27304                                                                                         This term for old-fashioned trousers ending just below the knee derives from a Washington Irving character
29997                                                                                                              Seen here, these trousers bear the name of the island where they first became popular
32174                                                                                                       Frontiersmen wore trousers of this animal's skin, the leather in the "Leatherstocking Tales"
41203                                                                                                                   Had she kept her maiden name, these full trousers would have been called Jenkses
50224                                                                                                                    1940's style with tight cuffed trousers. wide lapels & heavily padded shoulders
55863                                                                                                    These man & dog stars of "The Wrong Trousers" are made with a mixture of plasticine, wax & clay
58561                                                                                                      Though WWII's "Rosie the Riveter" wore them, this war 1st popularized trousers for womenswear
68279                                                                                                                          A turn-up on your trousers there, becomes one of these on your pants here
74954                                                                                                                              These trousers are modeled after those worn by South American cowboys
96889                                                                                                This polyester fiber from Du Pont made men's trousers "Neater...more comofortable...with less care"
100566                                                                                                   These wide trousers extending from the waist to the ankles were popular in late 17th c. England
108327                                                                                                                                     These trousers made of cotton twill cloth & similar to khakis
112736                                                                                                Article of clothing named for an old character who dressed in loose trousers in Commedia Dell'arte
115081                                                                                                                                                                                 Ulysses' trousers
117059                                                                                   Japan's Shichi-Go-San, or "7-5-3", celebrates 5-year-olds wearing trousers & 7-year-olds tying this with an obi
140591                                                                                           In English theater Columbine was the daughter of this old character who wore the trousers in the family
146483                                                                                                    This 1977 film popularized baggy tailored trousers, hats with upturned brims & vests for women
164397                                                                                                                                 The name of this Tyrolean get-up is German for "leather trousers"
167821  Here's a sartorial story <i>There was a young man of the cape, who always wore trousers of crepe, when asked don't they tear, he replied here and there,</i> but they keep such a beautiful ____
177684                                                                                                     Some cowboys wear these seatless leather trousers to protect their legs when they ride horses
180093                                                                                                           This 1940s fashion favorite featured baggy trousers & an oversized, padded sport jacket
180147                                                                                                                                                                              Knee-length trousers
189230                                                                                              The name of Jack Tar trousers, popular in the 19th century, is a term for someone in this profession
189236                                                                                                                         One of Lee Jeans' brand names is Lee these, meaning sturdy denim trousers
190131                                                                                                    Ja, the name of these traditional Bavarian shorts comes from the German for "leather trousers"
209177                                                                               Asked who wore the trousers, this British prime minister's husband responded, "I do, and I also wash and iron them"

                                       Answer
3248    The Sisterhood of the Traveling Pants
3710                            Grant's pants
8124                                 bloomers
14091                           Jack's slacks
16369                                a romper
27304                         a knickerbocker
29997                             Capri pants
32174                                deerskin
41203                                Bloomers
50224                               Zoot Suit
55863                        Wallace & Gromit
58561                             World War I
68279                                  a cuff
74954                            gaucho pants
96889                                  Dacron
100566                             pantaloons
108327                                 chinos
112736       Pantaloons (named for Pantalone)
115081                          Grant's pants
117059                                 kimono
140591                              Pantalone
146483                             Annie Hall
164397                             Lederhosen
167821                                  shape
177684                                  chaps
180093                            a zoot suit
180147                               breeches
189230                                 sailor
189236                              dungarees
190131                             lederhosen
209177                      Margaret Thatcher

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   While most of the values in the `" Value"` column represent a dollar amount as a string, note that some do not &mdash; these values will need to be handled differently!

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [3]:
#Here I create a new column 'float_value' with removed '$' sign.
jeopardy['float_value'] = jeopardy['Value'].apply(lambda string: float(str(string).replace('$', '').replace(',', '')) if string != 'no value' and string != 'NaN' else 0)

print(jeopardy['float_value'].mean())

#Difficultness of this topic is around 771
filtered = data_filter(jeopardy, ['king'])
print(filtered['float_value'].mean())

739.9884755451067
771.8833850722094

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [8]:
# In this function we are counting the answers which have the word 'king' in the questions.
def unique_answers(data, answer):
    filter_1 = data_filter(data, answer)
    return filter_1.Answer.value_counts()
print(unique_answers(jeopardy, ['King']))

Answer
Henry VIII                   55
Solomon                      35
Richard III                  33
Louis XIV                    31
David                        30
                             ..
cardiac (in card I acted)     1
Henderson                     1
Computer                      1
Indians                       1
work                          1
Name: count, Length: 5268, dtype: int64

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

1. Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word "Computer" compared to questions from the 2000s?

In [24]:
#At row below the 'Year' columns first 4 numbers are turned from string to integer
jeopardy['Year'] = jeopardy['Air Date'].str[:4].astype(int)
#this function is investigating have often certain words are encountered in 1990s and 2000s.
def investigate_word(data, words):
    filtered = data_filter(data, words)
    questions_90s = filtered[filtered['Year'] <= 2000]
    questions_90s = len(questions_90s[questions_90s.Year > 1990])
    questions_2000s = len(filtered[filtered.Year > 2000])
    return f'Questions with the word {words} in 1990s: {questions_90s}; Questions with the {words} in 2000s: {questions_2000s}'
print(investigate_word(jeopardy, ['Jeopardy']))

Questions with the word ['Jeopardy'] in 1990s: 58; Questions with the ['Jeopardy'] in 2000s: 139

2. Is there a connection between the round and the category? Are you more likely to find certain categories, like "Literature" in Single Jeopardy or Double Jeopardy?

In [25]:
#Here the code is comparing how much the word 'Literature' is encountered between the rounds - Jepardy and Double Jeopardy
filtered_df = data_filter(jeopardy, ['Literature'])[['Round', 'Category']]
double_jeopardy = filtered_df[filtered_df['Round'] == 'Double Jeopardy!'].shape[0]
single_jeopardy = filtered_df[filtered_df['Round'] == 'Jeopardy!'].shape[0] 
final_jeopardy = filtered_df[filtered_df['Round'] == 'Final Jeopardy!'].shape[0] 
tirbreaker = filtered_df[filtered_df['Round'] == 'Tiebreaker'].shape[0] 
filtered_df = (((double_jeopardy - single_jeopardy)/single_jeopardy)* 100)
print(f'The round "Double Jeopard!" is {filtered_df:.1f}% more encountered compared to "Jeopardy" for the word "Literature"'
      f'\nThe ration of Jeopardy to Double Jeopardy to Final Jeopardy to Tirbreaker is {single_jeopardy} : {double_jeopardy} : {final_jeopardy} : {tirbreaker} for the word "Literature".' )

The round "Double Jeopard!" is 60.0% more encountered compared to "Jeopardy" for the word "Literature"
The ration of Jeopardy to Double Jeopardy to Final Jeopardy to Tirbreaker is 55 : 88 : 8 : 0 for the word "Literature".

3. Build a system to quiz yourself. Grab random questions, and use the input function to get a response from the user. Check to see if that response was right or wrong.

In [14]:
#The code below is a jeopardy game which has input and testing whether it is right or wrong.
def quiz(data):
    number = random.randint(0, 216930)
    question = data.Question.iloc[number]
    point =0
    print(question)
    answer = input('Your response: ')
    if answer == data.Answer.iloc[number]:
        print("Your are right!\nBravo! :)")
        print(f'You received: {data.float_value.iloc[number]}')
        point += data.float_value.iloc[number]
    else:
        print("Wrong... :(")
        print(f'The right answer is: {data.Answer.iloc[number]}')
        point = 0
    print('|')
    return point

def game(data):
    score = 0
    for n in range(5):
        score += quiz(data)
    print(f'Thanks for playing your score is {score}')
game(jeopardy)

The 2 states' largest cities are Fargo & Sioux Falls, not these, their capitals
Your response: fa
Wrong... :(
The right answer is: Bismarck & Pierre
|
Spain's National Organization for the Blind maintains the touchy-feely Museo Tiflologico in this city
Your response: Madrid
Your are right!
Bravo! :)
You received: 400.0
|
"Write if you get work" was Ray Goulding's catchphrase as half of this duo
Your response: Slade
Wrong... :(
The right answer is: Bob and Ray
|
A keratotomy is an incision of this eye part; a keratectomy removes part of it
Your response: Cornea
Wrong... :(
The right answer is: the cornea
|
In 1889 this Elizabethport, New Jersey company electrified the sewing machine
Your response: Car
Wrong... :(
The right answer is: Singer
|
Thanks for playing your score is 400.0